<div class="show-center">
  <h1>Usuario: <%= @user.username %></h1> 
  <br>
  <%= image_tag @user.gravatar_url %> 
  <hr>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th>Email</th>
        <th>Username</th>
        <th>Nivel</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.email %></td>
          <td><%= @user.username %></td>
          <%case @user.permission_level
            when 1 %>
            <td>Usuario</td>
            <% when 2 %>
            <td>Asistente</td>
            <% when 3 %>
            <td>Admin</td>
          <%end%>
          
        </tr>
      </tbody>
    </table>
  </div>
  <%= render "footer" %> 
</div>