<% name ||= "Crear" %>
<h1><%= name %> Cliente</h1>
<% @client.errors %>
	<%= semantic_form_for @client do |f| %>
	<%= f.input :nombre, placeholder: "Nombre" %>
	<%= f.input :apellido, placeholder: "Apellido" %>
	<%= f.input :identificacion,label: "Cédula de Identidad o RIF", placeholder: "Identificacion" %>
	<%= f.input :email,label: "Correo electrónico", placeholder: "Email" %>
	<%= f.input :telefono, placeholder: "Teléfono" %>
	<%= f.input :direccion, placeholder: "Dirección" %>
	<%= f.input :descripcion, placeholder: "Descripción" %>
	<%= f.input :tipo, :as => :select, :collection => Client.tipos.keys.to_a %>
	<%= f.input :frecuencia, :as => :select, :collection => Client.frecuencia.keys.to_a %>
	<ul class="nav nav-pills", style="margin:0;padding:0">
  <li class="boton-footer", role="presentation", style="hover:green"> 
    <%= f.submit "Guardar", :class => 'text-hack font-medium', style:"width:200px;height:50px" %>
  </li>
  <li class="boton-footer", role="presentation", style="hover:green">
  <%if name = "Editar"%>
    <%= link_to "Cancelar", @client, :class => 'text-red font-medium', style:"width:200px;height:50px;background-color:#E4E4E4;border:1px solid grey;border-radius:0;" %>  
  <%else%>
    <%= link_to "Cancelar", "/clients", :class => 'text-red font-medium', style:"width:200px;height:50px;background-color:#E4E4E4;border:1px solid grey;border-radius:0;" %>     
  <%end%>
  </li>
</ul>

	<% end %>	