<div class="form-center">  
  <strong class="font-large">Clientes:</strong> 
	<%= render "navigation" %>
  <%= render "clientes" %>
  <div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @clients %>
      <br><br>
    </div>
    <%= will_paginate @clients, :container => false %>
  </div>  
</div>