<div class="show-center">
  <h1><%= @client.tipo %>: <strong><%= @client.full_name %></strong></h1> 
  <%= image_tag @client.gravatar_url %> 
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th>Identificacion</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Descripción</th>
        <th>Frecuencia</th>
        <th>Creado por</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @client.identificacion %></td>
          <td><%= @client.email %></td>
          <td><%= @client.telefono %></td>
          <td><%= @client.direccion %></td>
          <td><%= @client.descripcion %></td>
          <td><%= @client.frecuencia %></td>
          <% unless @client.user.nil? %>
          <td><%= @client.user.username %></td>
          <%end%>
        </tr>
      </tbody>
    </table>
  </div>
  <%= render "footer" %> 
</div>