<div class="row"> 
  <div class="col-xs-12 welcome">    
    <% if user_signed_in? %>
      <p><strong class="bienvenido">BIENVENIDO </strong></p>
      <p id="usuario"><strong><%= current_user.username %></strong></p>
      <% else %>
      <p><strong class="bienvenido">BIENVENIDO</strong></p>
    <% end %>  
  </div> 
</div>