html, body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1em !important;
}

body{
	padding-top: 70px;
}

.navbar{
	padding-left: 3em !important;
}

#nav-left{
	padding-left: 3em !important;
}

.navbar-right{
	padding-right: 3em !important;
}

#logo{
	font-size: 1.8em;
}

.font-medium{
	font-size: 1.2em;
}

.be-blue{
	background-color: #0990CC !important;	
	padding: 10px;
	border: none !important;
}

.be-transparent{
	background-color: transparent !important;
	border-color: transparent !important;	
}

.text-white{
	color: white !important;
}

.text-hack{
	color: #0990CC !important;
}

.text-green{
	color: green !important;
}

.text-blue{
	color: blue !important;
}

.text-red{
	color: red !important;
}

a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: none !important;
}

a:visited{
	color: inherit;
}

.form-center{
	width: 60% !important;
	margin:0 auto !important;
	padding-top: 2em !important;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}

.field, .actions{
	margin-top: 1em;
}

.show-center{
	width: 80% !important;
	margin:0 auto !important;
	padding-top: 2em !important;
}

#operation_cover{
	margin-top: 1em;
	margin-bottom: 1em;
	letter-spacing: 2px;
}