<div class="row form-center">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
      <p>Hola <%= @resource.email %>!</p>
      <p>Has pedido un enlace para cambiar tu contraseña. Puedes hacer esto a través del siguiente enlace:.</p>
      <p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>
      <p>Si usted no lo ha solicitado, por favor, ignora este mensaje</p>
      <p>Su contraseña no se cambiará hasta que acceda al enlace de arriba y cree uno nuevo</p>
    </div>
  </div>
</div>