<footer>
  <ul class="nav nav-pills">
    <li class="boton-footer active", role="presentation", style="a:hover:green"><%= link_to "Retornar", "/products" %> </li>
    <% if current_user.is_asistente? %>
      <li class="boton-footer", role="presentation", style="hover:green"><%= link_to  "Editar", edit_product_path(@product) %></li>      
    <%end%>    
    <% if current_user.is_admin? %>
      <li class="boton-footer", role="presentation", style="hover:green"><%= link_to 'Eliminar', @product, method: :delete, data: { confirm: '¿Estás seguro de eliminar este producto?' } %></li>
    <%end%>    
  </ul>
</footer>