<div class="form-center">
<strong class="font-large">Productos:</strong>  
	
	<ul class="nav nav-tabs">
  <li role="presentation" style="background-color:#e4e4e4;" ><%= link_to "Crear Nuevo Producto", new_product_path %></li>  
  </ul>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<th>N°</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th></th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<% @products.each_with_index do |product, index| %>
				<tr>
					<td><%= index + 1 %></td>
					<td class="link-index"><%= link_to product.producto, product %></td>
					<td><%= product.descripcion %></td>
					<td><%= product.precio %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @products %>
      <br><br>
    </div>
    <%= will_paginate @products, :container => false %>
  </div>  
</div>