<div class="form-center">
  <h1>Operaciones</h1>
  <%= link_to "Crear Nueva Operación", new_operation_path, :class => 'text-hack font-medium' %>
  <%= render "transactions" %>
  <div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @operations %>
      <br><br>
    </div>
    <%= will_paginate @operations, :container => false %>
  </div>  
</div>