<div class="form-center">  
  <strong class="font-large">Facturas:</strong>  
  <%= render "navigation" %>
  <%= render "transactions" %>
  <div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @operations %>
      <br><br>
    </div>
    <%= will_paginate @operations, :container => false %>
  </div>  
</div>